<% if object.errors.any? %>
  <h3>Hey! Some errors here, take a look.</h3>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
